extends layout

block content
	h1= title
	form(method="POST", action="/save")
		.form-group
			input.form-control(name="Name" placeholder="Name")
		.form-group
			input.form-control(name="Code" placeholder="Code")
		.form-group
			input.form-control(name="Image" placeholder="Image")
		.form-group
			input.form-control(name="Price" placeholder="Price")
		.form-group
			button.btn.btn-primary(type="submit") Thêm mới
