.row
	.col
		h1 {{bras.name}}
.row
	.col-md-4
		p {{bras.version}}
		p {{bras.desc}}
		p {{demo}}
	.col-md-4
		img.img-fluid(ng-src="{{bras.logo}}", alt="")
		p {{bras.version}}
		p {{bras.desc}}
	.col-md-4
		p {{bras.version}}
		p {{bras.desc}}
		p {{demo}}
