.row
	.col
		h1 {{panties.name}}
.row
	.col-md-4
		p {{panties.version}}
		p {{panties.desc}}
		p {{demo}}
	.col-md-4
		img.img-fluid(ng-src="{{panties.logo}}", alt="")
		p {{panties.version}}
		p {{panties.desc}}
	.col-md-4
		p {{panties.version}}
		p {{panties.desc}}
		p {{demo}}
